body {
  background: white;
  font-family: "Roboto";
  /*font-weight: bold !important;*/
  margin: 0;
  color: #fafafa;
  /*overflow-y: hidden;*/
}

.bcontainer {
  position: relative;
  height: 80vh;
}
.bcontainer:before {
  background: url("../images/smooth-bg.jpg") center / cover;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

table {
  background-color: #fff;
}

nav {
  background: #fff;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  min-height: 10vh;
}

footer {
  background: #fafafa;
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #666;
  min-height: 10vh;
}

input#addBtn,
button {
  /*border-color: black;*/
  background-color: #ec7242 !important;
}

input#addBtn:hover,
button:hover {
  background-color:#ec5242  !important;
}

h1,
h2 {
  font-family: "Poppins";
  font-weight: bold;
}

.cell {
  text-align: right !important;
}

#container {
  opacity: 1;
  z-index: 1;
}
